
header {
    background-color: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}
.sign{
    width: 10%;
    position: absolute;
    z-index: 1;
}
.restaurant_titles p {
    list-style: disc;
    margin-left: 1em;
    font-size: 1.5em;
}
.restaurant_titles ul {
    list-style: disc;
    margin-left: 1em;
    font-size: 1.5em;
}


.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.bakery-img-des:hover .description {
    opacity: 1;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-togo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.restaurant_titles {
    padding: 0 40px;
    text-align: left;

}
.about-title {
    padding: 0 40px;
    text-align: left;
}

.restaurant_titles-right {
    padding: 0 40px;
    text-align: right

}
.restaurant_titles-right h2{
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;}

.restaurant_titles h2  {
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
}
.about-text h2 {
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
}
.about-text p{
    font-size: 1.5em;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.order-md-2 {
    order: 2;
}
.order-md-1 {
    order: 1;
}

@media (max-width: 767px) {
    .restaurant_titles {
        padding: 0 20px;
    }
}
.breakfast-img{
    width:100%;
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.image-about {
    width: 30%;
    margin-bottom: 20px;
}


.image img {
    width: 100%;
    display: block;
}

.image p {
    margin-top: 10px;
}

.overlay {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    position:absolute;
    z-index:1;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
}

.overlay-index{
    color: #ffffff;
    font-family: 'Courgette', cursive;
    position:absolute;
    z-index:1;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
}
.overlay-index h1 {
    font-size: 6rem; /* Default font size */
}
.overlay h1{
    font-size: 6rem;
}
.btn {
    position: relative;
    bottom: 50%;
    left: 50%;
}

.carousel-caption h5{
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}
.carousel-caption p{
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
}


.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}



.icon-button:hover {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -2px) scale(1.05);
}

.icon-button i {
    font-size: 24px;
}



/**/
.carousel {
    margin-bottom: 30px;
    padding: 20px;
}
.carousel-item img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


.carousel-inner {
    margin: 20px;
}

/* Style the logo */
.logo {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

/* Style the menu */
.menu {
    margin-right: 20px;
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #fff;
    color: #333;
}


/* Add a bounding box to the menu option on hover */
.menu a:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}
body {
    border-left: 1px solid #fff;
    padding-left: 20px;
    border-right: 1px solid #fff;
    padding-right: 20px;
}
/* Make the navbar text bigger */
.navbar-nav .nav-link {
    font-size: 3rem;
    font-family: 'Courgette', cursive;
}
nav {
    padding: 100px;
    margin-bottom: 100px;
}


/* Make the navbar collapse at smaller screen sizes */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    body{
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }
}
@media (max-width: 768px){
    .overlay {
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 767px) {
    .overlay-index h1 {
        font-size: 2rem; /* Smaller font size */
    }
}

@media screen and (min-width: 768px) {
    .overlay-index h1 {
        font-size: 6rem; /* Larger font size */
    }
}


